@model LMS.Core.Models.ViewModels.API.Author.LibrarySearch
@using LMSGroupOne.Models.MainNavigation



<div id="authorSearchHeadId" class="container m-0 b-0">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-10 col-lg-8">
            <div><i class="ml-3 fa fa-book fa-5x"></i></div>
            <div class="card-body row align-items-center">
                <div class="col-auto"><h4>Api Library Search</h4></div>
                <div class="col"><button class="btn btn-primary btn-lg" onclick="window.location.href='/Authors/GetAuthors'"><h6 class="my-0 font-weight-normal mx-3">Get All Authors</h6></button></div>
                <div class="col">
                    @if (User.IsInRole("Teacher"))
                    {
                        <button id="createAuthorId" data-item-id="1" data-item-type=@((int)NodeType.author) class="btn btn-danger"><h6 class="my-0 font-weight-normal mx-3">Create Author</h6></button>
                    }
                </div>
            </div>
                <form class="card card-sm box-shadow" id="searchFormId">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input asp-for="Name" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search title or name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
                

            </div>
        </div>

</div>



<div id="authorsListId" style="overflow-y:auto;">


</div>