@model LMS.Core.Models.ViewModels.Module.EditModuleViewModel

<div>Course: @ViewBag.courseName</div>
<div>Dates: @ViewBag.courseDates</div>
<div><br /></div>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<div>
    <form id="formId" asp-action="EditModule">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CourseId" />
        <input type="hidden" asp-for="Success" />
        <input type="hidden" asp-for="Message" />
        <input type="hidden" asp-for="ReturnId" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" />
        </div>

        @Model.Message
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
