@model LMSGroupOne.Models.MainNavigation.TreeNode

<style>
    editButton {
    }
</style>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    ViewData["Title"] = "LMS Group1";
}
<script src="~/js/WindowResizer.js" asp-append-version="true"></script>
<script src="~/js/LoadHomePage.js" asp-append-version="true"></script>
<script src="~/js/ModalHandler.js" asp-append-version="true"></script>
<script src="~/js/SearchHandler.js" asp-append-version="true"></script>


<div class="container-fluid p-0 m-0" style="min-height:100%; max-height:100%;">
    <div class="row p-0 m-0">

        @*the navigation tree section*@
        <div class="col-4 p-0 m-0">

            @await Html.PartialAsync("_TreeViewPartial")

        </div>

        @*the main content section*@
        <div class="col-8 p-0 m-0 h-100">

            @await Html.PartialAsync("_MainContentPartial")

        </div>


    </div>
</div>


<!-- The Modal -->
<div id="centerModalId" class="centerModal container-fluid h-100">

    <!-- Modal content -->
    <div id="centerModalContentId" class="card m-auto centerModalContent m-5 shadow">

        <div class="card-header bg-primary">
            <h2 id="centerModalTitleId" class="card-title">Hello world!</h2>
        </div>

        <div id="centerModalBodyId" class="card-body">

        </div>

        <div class="card-footer">
            <button id="centerModalButton" class="btn btn-outline-success float-left">Create</button>
            <button id="centerModalClose" class="btn btn-outline-primary float-lg-right">Close</button>
        </div>
    </div>
</div>



<script>
    let modalHandler = new ModalHandler();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
