@model LMSGroupOne.Models.MainNavigation.TreeNode

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    ViewData["Title"] = "LMS Group1";
}
<script src="~/js/WindowResizer.js" asp-append-version="true"></script>

<div class="container-fluid p-0 m-0" style="min-height:100%; max-height:100%;">
    <div class="row p-0 m-0">

        @*the navigation tree section*@
        <div class="col-4 p-0 m-0">

            @await Html.PartialAsync("_TreeViewPartial")

        </div>

        @*the main content section*@
        <div class="col-8 p-0 m-0">

            @await Html.PartialAsync("_MainContentPartial")

        </div>


    </div>
</div>



//------------------------modal ---------------------


<style>
    /*body {
        font-family: Arial, Helvetica, sans-serif;
    }*/

    /* The Modal (background) */
    .centerModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .centerModalContent {
        background-color: #fefefe;
        max-width: 500px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>



<!-- The Modal -->
<div id="centerModalId" class="centerModal container-fluid">

    <!-- Modal content -->
    <div id="centerModalContentId" class="card m-auto centerModalContent">

        <div class="card-header">

        </div>
            
                <div id="centerModalBodyId" class="card-body">

                </div>
            
        <div class="card-footer">
            <button id="centerModalButton" class="btn btn-outline-primary">press me</button>
        </div>


    </div>

</div>



<script>

    




    document.getElementById("centerModalButton").addEventListener("click", (event) => {
        console.log("clicked on the modal button");


        var tform = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', tform).val();


        let form = document.getElementById("createFormId");
        console.log(form);

        var formData = JSON.stringify($("#createFormId").serializeArray());
        console.log(formData);

        var data = JSON.parse(formData);
        console.log(data[1]);

        name = form.elements["Name"].value;
        console.log(name);

        $.ajax({
            type: "POST",
            url: "/AddNavigation/LoadAddView",
            data: { __RequestVerificationToken: token, Name:name },
            cache: false,
            success: result => {
                let modalContent = document.getElementById("centerModalBodyId");
                modalContent.innerHTML = result;

            }
        });




    });

</script>



<script>
    window.addEventListener("load", (event) => {
        LoadPersonalHomeView(event)
    });

    function LoadPersonalHomeView(event) {


        $.ajax({
            type: "GET",
            url: "/MainNavigation/OnHome",
            data: { type: "load" },
            cache: false,
            success: result => {
                document.getElementById("contentDivId").innerHTML = result;
            }
        });

    };

</script>

<script>
    // test script for modal delete it later
    window.onclick = function (event) {
        let modal = document.getElementById("centerModalId")
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>