@model LMSGroupOne.Models.MainNavigation.TreeNode

@{
    ViewData["Title"] = "MainNavigation Page";
}


<div class="container-fluid">
    <div class="row">

        @*the navigation tree section*@
        <div class="col-3 overflow-hidden">

            @await Html.PartialAsync("_TreeViewPartial")

        </div>

        @*the main content section*@
        <div class="col-9">

            @await Html.PartialAsync("_MainContentPartial")

        </div>


        

    </div>
</div>


