@model LMSGroupOne.Models.MainNavigation.TreeNode



@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

@{
    ViewData["Title"] = "LMS Group1";
}
<script src="~/js/WindowResizer.js" asp-append-version="true"></script>

<div class="container-fluid p-0 m-0" style="min-height:100%; max-height:100%;">
    <div class="row p-0 m-0">

        @*the navigation tree section*@
        <div class="col-4 p-0 m-0">

            @await Html.PartialAsync("_TreeViewPartial")

        </div>

        @*the main content section*@
        <div class="col-8 p-0 m-0">

            @await Html.PartialAsync("_MainContentPartial")

        </div>


    </div>
</div>



//------------------------modal ---------------------


<style>
    /*body {
        font-family: Arial, Helvetica, sans-serif;
    }*/

    /* The Modal (background) */
    .centerModal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */

        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .centerModalContent {
        background-color: #fefefe;
        max-width: 500px;
    }
</style>



<!-- The Modal -->
<div id="centerModalId" class="centerModal container-fluid h-100">

    <!-- Modal content -->
    <div id="centerModalContentId" class="card m-auto centerModalContent m-5 shadow">

        <div class="card-header bg-primary">
            <h2 class="card-title">Create Course</h2>
        </div>

        <div id="centerModalBodyId" class="card-body">

        </div>

        <div class="card-footer">
            <button id="centerModalButton" class="btn btn-outline-success float-left">Create</button>
            <button id="centerModalClose" class="btn btn-outline-primary float-lg-right">Close</button>
        </div>


    </div>

</div>



<script>

    document.getElementById("centerModalClose").addEventListener("click", (event) => {
        console.log("cancel pressed");
        let modal = document.getElementById("centerModalId");

        modal.style.display = "none";

    });




    document.getElementById("centerModalButton").addEventListener("click", (event) => {
        console.log("clicked on the modal button");


        var tform = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', tform).val();



        

        let form = document.getElementById("formId");
        //console.log(form);


        $.ajax({
            type: "POST",
            url: "/Course/Create",
            data: {
                __RequestVerificationToken: token,
                Name: form.elements["Name"].value,
                Description: form.elements["Description"].value,
                StartDate: form.elements["StartDate"].value,
                EndDate: form.elements["EndDate"].value,
            },
            cache: false,
            success: result => {
                let modalContent = document.getElementById("centerModalBodyId");
                modalContent.innerHTML = result;
                fixvalidation();

                //const form = target.querySelector('form');
                //$.validator.unobtrusive.parse(form);

                //const form = document.getElementById('createFormId');
                //$.validator.unobtrusive.parse(form);




                form = document.getElementById("formId");
                let success = form.elements["Success"].value;
                console.log(success);
                if (success == "True") {
                    console.log("course was created");
                    document.getElementById("centerModalButton").style.display = "none";
                }






            }



        });




    });



</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}



<script>
    window.addEventListener("load", (event) => {
        LoadPersonalHomeView(event)
    });

    function LoadPersonalHomeView(event) {


        $.ajax({
            type: "GET",
            url: "/MainNavigation/OnHome",
            data: { type: "load" },
            cache: false,
            success: result => {
                document.getElementById("contentDivId").innerHTML = result;
            }
        });

    };

</script>

