@*a student view by a teacher*@

@using LMSGroupOne.Models.MainNavigation
@model StudentFromTeacherModelView

<div class="container-fluid text-center">
    <h2>Student:(teachers view)</h2>
    <H1>@Model.Name</H1>
    <H2>Email: @Model.Email</H2>

</div>