@*the home page for a student*@

@using LMSGroupOne.Models.MainNavigation
@model StudentHomeModelView

<div class="container-fluid text-center">
    <h1>Home student</h1>
    
    <H1>@Model.Name</H1>
    <H2>Email: @Model.Email</H2>


</div>