
@*a teacher view by a student*@

@using LMSGroupOne.Models.MainNavigation
@model TeacherFromStudentModelView

<div class="container-fluid text-center">
    <h2>Teacher:(students view)</h2>
    <H1>@Model.Name</H1>
    <H2>Email: @Model.Email</H2>

</div>