
@using LMSGroupOne.Models.MainNavigation
@model PlaceholderModelView

placeholder view for literature search with id @Model.Id (ididididididid)







<form id="searchFormId">

    
        
        <input type="text" asp-net-for="Id">
        <button type="button">button</button>


    
</form>


<script>

    alert('all is ok');


    $('form').submit(function () {

        var error;

        if (!$('input').val()) {
            alert('all is ok')
            error = true
        }

        if (error) {
            alert('there are errors')
            return false
        }

    });



    

    
</script>