@model AccountCreateViewModel
@inject IRoleSelectService roleSelectService
@inject ICourseSelectService courseSelectService

@{
    ViewData["Title"] = "Create Account";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
            <h4>Create account</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role"></label>
                <select id="role" asp-for="Role" asp-items="@await roleSelectService.GetRolesAsync()" class="form-control">
                    <option value="" hidden disabled selected>Select a role</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group" id="course">
                <label asp-for="CourseId">Add to course (not required)</label>
                <select asp-for="CourseId" asp-items="@await courseSelectService.GetCoursesAsync()" class="form-control" id="course-select">
                    <option value="" hidden disabled selected>Select a course</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create account" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="createAccountResult" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="aModalLabel">@ViewBag.UserName</h5></div>
            <div class="modal-body">Account was successfully created with role @ViewBag.Role</div>
            <div class="modal-footer">
<<<<<<<< HEAD:LMSGroupOne/Views/Account/Create.cshtml
                <a asp-controller="Account" asp-action="Create">Create another account</a>
========
                <a asp-controller="Home" asp-action="CreateAccount">Create another account</a>
>>>>>>>> Dev:LMSGroupOne/Views/Home/CreateAccount.cshtml
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#createAccountResult").modal('show');
            });
        </script>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        $(function hideOnLoad() {
            $("#course").hide();
        });
        $(function () {
            $("#role").change(function () {
                if ($(this).val() == "Student") { $("#course").toggle(); }
                else if ($(this).val() == "Teacher") { $("#course-select")[0].selectedIndex = -1; $("#course").hide('slow'); }
            });
        });
    </script>
}