@model AccountEditViewModel
@inject IRoleSelectService roleSelectService
@inject ICourseSelectService courseSelectService

<div>
    <form id="formId" asp-controller="Account" asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Success" />
        <input type="hidden" asp-for="ReturnId" />
        <input type="hidden" asp-for="Message" />
        <input type="hidden" asp-for="PersonReturnId" />
        <input type="hidden" name="Name" value="@(Model.FirstName+" "+Model.LastName)">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Role"></label>
            <select id="role" asp-for="Role" asp-items="@await roleSelectService.GetRolesAsync()" class="form-control">
                <option value="" hidden disabled selected>Select a role</option>
            </select>
        </div>
        <div class="form-group" id="course">
            <label asp-for="CourseId"></label>
            <select asp-for="CourseId" asp-items="@await courseSelectService.GetCoursesAsync()" class="form-control" id="course-select">
                <option value="" hidden disabled selected>Select a course</option>
            </select>
        </div>
        @Model.Message
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <div id="scriptId">
        <script type="text/javascript">
            $(function hideOnLoad() {
                if ($("#role").val() == "Teacher") { $("#course").hide(); }
            });
            $(function () {
                $("#role").change(function () {
                    if ($(this).val() == "Student") { $("#course").toggle(); }
                    else if ($(this).val() == "Teacher") { $("#course-select")[0].selectedIndex = -1; $("#course").hide('slow'); }
                });
            });
        </script>
    </div>
}