@model UploadModuleDocumentsViewModel

<form method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="UploadModuleDocuments" name="UploadModuleDocumentsForm" onsubmit="return validateForm()">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Success" />
    <input type="hidden" asp-for="ReturnId" />
    <input type="hidden" asp-for="Message" />
    <input type="hidden" asp-for="PersonReturnId" />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PostedDocuments"></label>
        <input type="file" name="postedDocuments" id="postedDocuments" class="form-control" multiple />
    </div>
    <div class="form-group">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-primary" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
    </div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script type="text/javascript">
    function validateForm() {
        var x = document.forms["UploadModuleDocumentsForm"]["postedDocuments"].value;
        if (x == "") {
            alert("Please choose document(s) to upload");
            return false;
        }
    }
</script>
}