@model UploadDocumentsViewModel

@{
    ViewData["Title"] = "Upload course documents";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="UploadCourseDocuments" name="UploadCourseDocumentsForm" onsubmit="return validateForm()">
            <h4>Upload course documents</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Select documents</label>
                <input type="file" name="postedDocuments" id="postedDocuments" class="form-control" multiple />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="uploadCourseDocumentsResult" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header"><h5 class="modal-title" id="aModalLabel">Result</h5></div>
            <div class="modal-body">@ViewBag.Result</div>
        </div>
    </div>
</div>

@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
            $("#uploadCourseDocumentsResult").modal('show');
            });
        </script>
    }
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />

<script type="text/javascript">
    setTimeout(function () {
        $("#uploadCourseDocumentsResult").modal('hide')
    }, 4000);

    function validateForm() {
        var x = document.forms["UploadCourseDocumentsForm"]["postedDocuments"].value;
        if (x == "") {
            alert("Please choose document(s) to upload");
            return false;
        }
    }
</script>
}