@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LMSGroupOne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="container-fluid m-0 p-0">
    <header id="headerBarId" class="container-fluid m-0 p-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 bg-primary">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="LMSGroupOne">LMS Group One</a>                    
                </div>
                
                <div class="col-6 bg-primary navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                    </ul> 
                </div>
            </nav>
            }
        </div>
    </header>
    <div class="container-fluid m-0 p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer id="footerBarId" class="border-top footer text-dark p-0 m-0">
        <div class="container-fluid p-0 m-0 bg-primary">
            &copy; 2021 - LMSGroupOne
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
