@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    Person currentUser = await UserManager.GetUserAsync(User);
    var userRolesList = await UserManager.GetRolesAsync(currentUser);
    var userRoles = String.Join(", ",userRolesList);
    bool isTeacher = userRoles.Contains("Teacher");
    bool isStudent = userRoles.Contains("Student");
}

@if (SignInManager.IsSignedIn(User))
            {
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name (@userRoles)</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-outline-light">Logout</button>
                </form>
            }
            else
            {

            }
